* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html {
    height: 100%;
}
body {
    font-family: "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 1.2rem;
    margin: 1em;
    color: #fff;
    background: url(../images/grid-pattern.png) left top repeat; 
    background-color: #1a5f96;
}
a {
    color: #fff;
    text-decoration: underline;
}
footer {
    font-size: .75em;
    color: silver;
    position: absolute;
    bottom: 1em;
    right: 1em;
        margin-top: 1.5em;
}
#drawCanvas {
      -ms-touch-action: none;
      position: absolute;
    top: 0;
    left: 0;
}
#drawCanvas:hover, #drawCanvas:active {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" style="font-size: 32px;"><g transform="rotate(180,27.5,16)"><text y="30" x="30">&#x270E;</text></g></svg>'),
  pointer;
}
#colorSwatch {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


input[type=radio] {
    margin: 0;
    display: none;
    width: 0;
}
input[type=radio]:checked + label::after {
    content: '\270E';
    transform: rotate(180deg);
    position: absolute;
    left: 12px;
    top: 4px;
}

label {
    display: inline-block; 
    width: 48px; height: 48px; 
    position: relative;
    padding-right: 5px;
    border-radius: 50%;
    text-shadow: 1px 1px 2px #000;
    color: #fff;
    font-size: 32px;
    line-height: 46px;
}
label[for=color01] {background: gold;}
label[for=color02] {background: darkorange;}
label[for=color03] {background: navy;}
label[for=color04] {background: yellowgreen;}
label[for=color05] {background: firebrick;}
label[for=color06] {background: powderblue;}

@media all and (orientation: landscape) {
    canvas {
        display: inline-block;
        margin-right: 10px;
    }
    #colorSwatch {
        display: inline-block;
        width: 50px;
        top: 120px;
        right: 20px;
    }
}    
